// override defalt minima variables 

// width of the content area
// can be set as "px" or "%"
$content-width:    800px; // 1000
$on-palm:          1000px; // 800
$on-laptop:        1500px; //1000
$on-medium:        1500px; // 1000
$on-large:         1800px; // 1200
